### Title: "R Programs"

### Date: 15 Feb 2023

### Name: K Lalith Aditya

### Class: Msc 1st Year

### Semester: 2

### Regd No: 22231

### User defined functions :- Cube of a function with 1 Argument

In [4]:
Cube<-function(a)
{
  for(i in 1:a){
    print(i^3)
  }
}
Cube(4)

[1] 1
[1] 8
[1] 27
[1] 64

## Calling a Function with No Argument

In [9]:
fact<-function()
{
 print(factorial(5))
}
fact()

[1] 120

## Function with more than 1 Argument

In [10]:
pow<-function(a=3,b=2){
  print(a^b)
}

pow(4,2)
# If the arguments are not provided then,the default values fromt the function will be taken.

[1] 16

## Lazy evaluation of a function

In [11]:
lazy<- function(a, b) 
{ 
  print(a^2) 
  print(a) 
  #print(b)
}
lazy(2,10)

[1] 4
[1] 2

## R- Strings

In [12]:
# String

a<- 'Hello World'
a

[1] "Hello World"

### Combining two or more strings

In [14]:
A<-'hi'
B<-'there'
paste(A,B)

[1] "hi there"

In [20]:
# if we want to combine strings without space in between them we use sep

a<-"world"
b<-'cup'

paste(a,b,sep="")

[1] "worldcup"

In [30]:
## Using sep and collapse

a<-'doll'
b<-'cat'
c<-'dragon'

print(paste(a,b,c,sep='-'))

print(paste(a,b,c,sep='',collapse=''))

[1] "doll-cat-dragon"
[1] "dollcatdragon"

In [34]:
# Counting number of characters

a<-'oblivious'
nchar(a)

[1] 9

## Change case

In [36]:
#To upper and to lower functions

up<-'UPPER'
low<-'lower'

# changing upper to lower
print(toupper(low))

# changing lower to upper
print(tolower(up))

[1] "LOWER"
[1] "upper"

### Substring

In [39]:
#Substring from a main string
quad<-("india australia japan america")
substring(quad,1,15)

[1] "india australia"

### Format function

In [40]:
result1 <- format("left", width = 10,  justify = "l")
 
# Placing string in the center
result2 <- format("center", width = 10,  justify = "c")
 
# Placing string in the right
result3 <- format("right", width = 10, justify = "r")
 
# Getting the different string placement
print(result1)
print(result2)
print(result3)

[1] "left      "
[1] "  center  "
[1] "     right"