### Name: K Lalith Aditya

### Regd No: 22231

### Date: 5/04/2023

### R-Lab: Work on Tibble and Tidyverse

### Assignment 7

#### Classroom Work

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.1.8
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
as_tibble(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

### creating a tibble

In [3]:
T <- tibble(
    x = 1.5,
    y=1,
    z=x+y
)

In [4]:
print(T)

# A tibble: 1 × 3
      x     y     z
  <dbl> <dbl> <dbl>
1   1.5     1   2.5

In [5]:
help(tibble)

In [6]:
a <- 1:5

In [7]:
a

[1] 1 2 3 4 5

### 2 columns , 2nd column is 2 times first column

In [8]:
tibble(a,a*2)

  a a * 2
1 1  2
2 2  4
3 3  6
4 4  8
5 5 10

### 3 columns: column b is dependent on a , column c is constant=1

In [9]:
tibble(a,b=a*2,c=1)

  a b  c
1 1  2 1
2 2  4 1
3 3  6 1
4 4  8 1
5 5 10 1

In [10]:
print(as_tibble(mtcars))

# A tibble: 32 × 11
     mpg   cyl  disp    hp  drat    wt  qsec    vs    am  gear  carb
   <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
 1  21       6  160    110  3.9   2.62  16.5     0     1     4     4
 2  21       6  160    110  3.9   2.88  17.0     0     1     4     4
 3  22.8     4  108     93  3.85  2.32  18.6     1     1     4     1
 4  21.4     6  258    110  3.08  3.22  19.4     1     0     3     1
 5  18.7     8  360    175  3.15  3.44  17.0     0     0     3     2
 6  18.1     6  225    105  2.76  3.46  20.2     1     0     3     1
 7  14.3     8  360    245  3.21  3.57  15.8     0     0     3     4
 8  24.4     4  147.    62  3.69  3.19  20       1     0     4     2
 9  22.8     4  141.    95  3.92  3.15  22.9     1     0     4     2
10  19.2     6  168.   123  3.92  3.44  18.3     1     0     4     4
# … with 22 more rows

#### Printing only 1 row of the tibble

In [11]:
print(as_tibble(mtcars),n=1)

# A tibble: 32 × 11
    mpg   cyl  disp    hp  drat    wt  qsec    vs    am  gear  carb
  <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
1    21     6   160   110   3.9  2.62  16.5     0     1     4     4
# … with 31 more rows

#### Printing 3 rows of the tibble

In [12]:
print(as_tibble(mtcars),n=3)

# A tibble: 32 × 11
    mpg   cyl  disp    hp  drat    wt  qsec    vs    am  gear  carb
  <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
1  21       6   160   110  3.9   2.62  16.5     0     1     4     4
2  21       6   160   110  3.9   2.88  17.0     0     1     4     4
3  22.8     4   108    93  3.85  2.32  18.6     1     1     4     1
# … with 29 more rows

#### creating a tibble with random values

In [13]:
tibble(x = runif(10),y=x*2)

   x         y
1  0.4745779 0.9491558
2  0.3465853 0.6931707
3  0.5806920 1.1613840
4  0.1539235 0.3078471
5  0.9814375 1.9628750
6  0.1690845 0.3381690
7  0.5915504 1.1831008
8  0.7964504 1.5929008
9  0.3944052 0.7888104
10 0.9447846 1.8895691

#### dataframe to tibble

In [14]:
data <- data.frame(a = 1:3, b = letters[1:3], c = Sys.Date() - 1:3)
data

  a b c
1 1 a 2023-04-04
2 2 b 2023-04-03
3 3 c 2023-04-02

In [15]:
as_tibble(data)

  a b c
1 1 a 2023-04-04
2 2 b 2023-04-03
3 3 c 2023-04-02

#### Creating new tibble from column vectors

In [16]:
tibble(x= 1:5, y=1, z= x^2+y)

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

####  creating a tibble row-by-row using tribble

In [18]:
tribble(
    ~x, ~y, ~z,
    "a",2,3.6,
    'b',1,8.5
)

  x y z
1 a 2 3.6
2 b 1 8.5

#### tibble with a list

In [19]:
ltibble <- tibble(x = 1:3,y = list(1:5, 1:10, 1:20))
ltibble

  x y
1 1 1, 2, 3, 4, 5
2 2 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
3 3 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20

### Subsetting

In [21]:
df <- tibble(
    x = runif(5),
    y = rnorm(5)
)

#### We can index the above tibble as follows

In [22]:
df$x

[1] 0.78715924 0.71999220 0.27385798 0.72125294 0.02636971

In [23]:
df[['x']]

[1] 0.78715924 0.71999220 0.27385798 0.72125294 0.02636971

In [24]:
df[[1]]

[1] 0.78715924 0.71999220 0.27385798 0.72125294 0.02636971

#### These are some similar commands called piping and chaining

In [25]:
df %>% .$x

[1] 0.78715924 0.71999220 0.27385798 0.72125294 0.02636971

In [26]:
df %>% .[["x"]]

[1] 0.78715924 0.71999220 0.27385798 0.72125294 0.02636971

In [27]:
df %>% .[[1]]

[1] 0.78715924 0.71999220 0.27385798 0.72125294 0.02636971

#### creating columns in a tibble with names that start with a dot

In [28]:
tibble(.dotted :=3)

  .dotted
1 3

#### Unquoting an expression

In [31]:
x<-5
tibble(x=6,y=x)
tibble(x=6,y = !!x)

  x y
1 6 6

  x y
1 6 5

#### These are some operations on tibble!